@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap";

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Roboto';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.btn-primary {
  backdrop-filter: blur(3px);
  background-color: rgba(1, 110, 255, 0.325);
  border-color: #006fff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #006fff;
}

a.text-white,
a.text-white:hover,
a.text-white:focus {
  color: white;
}

.text-shadow {
  text-shadow: 0 0 6px #006fff, 0 0 20px #1877f2;
}

.card {
  backdrop-filter: blur(3px);
  /* background-color: rgba(255, 255, 255, 0.15); */
  background-color: rgba(80, 32, 122, 0.325);
  border: 1px solid rgba(61, 110, 204, 0.25);
  -webkit-box-shadow: 0 0 16px 0 rgb(196 29 255 / 20%);
  box-shadow: 0 0 16px 0 rgb(196 29 255 / 20%);
}

#main-nav {
  /*
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.325);
  border-bottom: 1px solid rgb(31, 41, 55);
  -webkit-box-shadow: 0 0 16px 0 rgb(196 29 255 / 20%);
  box-shadow: 0 0 16px 0 rgb(196 29 255 / 20%);
  */
  padding: 2rem 0;
}

#main-nav .navbar-collapse .navbar-nav {
  display: none;
}

#main-nav .nav-link {
  color: white;
  text-transform: uppercase;
}

#main-nav .btn-primary {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.navbar-toggler:focus {
  box-shadow: none;
}

#main-nav-icon {
  width: 40px;
  height: 32px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#main-nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#main-nav-icon span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#main-nav-icon span:nth-child(2) {
  top: 14px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#main-nav-icon span:nth-child(3) {
  top: 28px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#main-nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  left: 6px;
}

#main-nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#main-nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 28px;
  left: 6px;
}

#hero {
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;  
}

/*
#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.325);
}
*/

#hero_overlay-container {
  position: absolute;
  bottom: 128px;
}

#hero_overlay-container_right {
  display: flex;
  justify-content: end;
  align-items: end;
}

#hero .video-wrap {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 400%;
  bottom: 0;
  z-index: 0;
  left: -150%;
  background-size: cover;
  background-position: center; 
}

@media (min-width: 768px) {
  #hero .video-wrap {
    width: 200%;
    left: -50%;
  }
}

@media (min-width: 992px) {
  #hero .video-wrap {
    width: 150%;
    left: -25%;
  }
}

@media (min-width: 1200px) {
  #hero .video-wrap {
    display: block;
    object-fit: cover;
    width: 100vw;
    width: calc(100vw + 50%);
    height: 100vh;
    left: -25%;
    bottom: 0;
  }
}

#hero .video-wrap::before {
  height: 100%;
  content: "";
  box-shadow: inset 0 0 100px 100px rgb(0 0 0 / 75%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

/*
#hero_inner-card .card-body {
  background: rgba(0, 0, 0, 0.325);
  border-radius: 0.25rem;
}

#hero_inner-card .card-subtitle {
  font-size: 24px;
}
*/

#hero_inner-left-card .card-subtitle {
  font-size: 20px;
}

#hero_desktop-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(3px);
  border-top: 1px solid #50207b;
}

#hero_desktop-nav .icon-diamond_wrap {
  position: absolute;
  top: -12px;
  left: 50%;
  left: calc(50% - 4px);
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 50px;
  margin: auto;
  z-index: 1;
}

#hero_desktop-nav .icon-diamond_wrap.selected {
  background-color: rgba(0, 111, 255, 0.325);
  border: 1px solid #006fff;
}

.icon-diamond {
  background-color: white;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}

#hero_desktop-nav button {
  position: relative;
  height: 96px;
  width: 100%;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: none;
}

/* #hero_desktop-nav button:hover,
#hero_desktop-nav button:focus {
  background: linear-gradient(180deg, rgba(211, 86, 255, 0.3) 0%, rgba(211, 86, 255, 0) 100%);
} */

#hero_desktop-nav button .btn-text {
  position: relative;
  z-index: 1;
}

#hero_desktop-nav button .btn-background {
  position: absolute;
  top: 0;
  height: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(211, 86, 255, 0.3) 0%, rgba(211, 86, 255, 0) 100%);
  transition: all 500ms;
}

#hero_desktop-nav button.selected .btn-background,
#hero_desktop-nav button:hover .btn-background,
#hero_desktop-nav button:focus .btn-background {
  height: 100%;
}

.multi-colored-shadow {
  opacity: 0;
}

.multi-colored-shadow {
  filter: blur(6px);
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -1;
  background: linear-gradient(45deg, rgb(255, 0, 0) 0%, rgb(255, 154, 0) 10%, rgb(208, 222, 33) 20%, rgb(79, 220, 74) 30%, rgb(63, 218, 216) 40%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 70%, rgb(186, 12, 248) 80%, rgb(251, 7, 217) 90%, rgb(255, 0, 0) 100%) 0% 0% / 300% 300%;
  /* animation: 2s linear 0s infinite normal none running bzhXFX; todo: inspirate - pancakeswap.finance */ 
  border-radius: 0.25rem;
  animation: MovingBackground 3s ease infinite;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 2s;
}

@-webkit-keyframes MovingBackground {
  0%{
    background-position: 0% 50%
  }
  50%{
    background-position: 100% 50%
  }
  100%{
    background-position: 0% 50%
  }
}

@-moz-keyframes MovingBackground {
  0%{
    background-position: 0% 50%
  }
  50%{
    background-position: 100% 50%
  }
  100%{
    background-position: 0% 50%
  }
}

@keyframes MovingBackground {
  0%{
    background-position: 0% 50%
  }
  50%{
    background-position: 100% 50%
  }
  100%{
    background-position: 0% 50%
  }
}

#marketplace {
  padding: 8rem 0;
  background-position: center;
  background-size: cover;
}

#marketplace #main-nav {
  position: absolute;
}

#marketplace_inner-wrap {
  border: 1px solid rgba(175, 76, 255, 0.325);
  box-shadow: 0 0 16px 0 rgba(196, 29, 255, 0.325);
  background-color: #0f052e;
}

.marketplace_stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1d0c4a;
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
}

#marketplace_listing .card-nft {
  height: 100%;
  background-color: #1d0c4a;
}

#marketplace_listing .card-nft .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-nft img {
  width: 100%;
  border-radius: 0.25rem;  
}

.border-corners {
  position: relative;
  --bGapSize: 12;
  --bBorderSize: 2;
  --color: #006fff;
}

.border-corners_white {
  --color: white;
}

.border-corners:before,
.border-corners:after {
  position: absolute;
  /* top: calc(0px - (var(--bBorderSize) * 1px) ); */
  top: -2px;
  /* height: calc( 100% + ( var(--bBorderSize) * 2) * 1px ); */
  /* height: 100%; */
  height: calc(100% + 4px);
  background-color: var(--color);
  content: "";
  width: calc(var(--bGapSize) * 0.1rem);
  clip-path: polygon(calc(100% - ( var(--bBorderSize) * 1px ) ) calc( ( var(--bGapSize) * 1px ) ), calc(100% - ( var(--bBorderSize) * 1px ) ) calc( ( var(--bBorderSize) * 1px ) ), calc(100% - ( (var(--bGapSize) ) * 1px ) ) calc( var(--bBorderSize) * 1px ), calc(100% - ( (var(--bGapSize) ) * 1px ) ) 0px, 100% 0px, 100% calc( ( var(--bGapSize) * 1px ) ), 100% calc(100% - (var(--bGapSize) ) * 1px ), calc(100% - ( var(--bBorderSize) * 1px ) ) calc( 100% - ( var(--bGapSize) * 1px ) ), calc(100% - ( var(--bBorderSize) * 1px ) ) calc( 100% - ( var(--bBorderSize) * 1px ) ), calc(100% - ( (var(--bGapSize) ) * 1px ) ) calc( 100% - ( var(--bBorderSize) * 1px ) ), calc(100% - ( (var(--bGapSize) ) * 1px ) ) 100%, 100% 100%, 100% calc( ( var(--bGapSize) * 1px ) ));
}

.border-corners:before {
  /* left: calc( 0px - (var(--bBorderSize) * 1px) ); */
  left: 0px;
  transform: scaleX(-1);
  border-radius: 0.25rem;
}

.border-corners:after {
  /* right: calc( 0px - (var(--bBorderSize) * 1px) ); */
  right: 0px;
  border-radius: 0.25rem;
}

.filter_set-circles {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0.25rem 0;
}

.filter_set-circles input[type="radio"] {
  display: none;
}

label.filter_set-circle {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: initial;
  min-width: 96px;
  width: 96px;
  height: 96px;
  background-color: #1d0c4a;
  border-radius: 50%;
  box-shadow: 0 0 16px 0 rgb(196 29 255 / 20%);
  border: 1px solid rgba(61, 110, 204, 0.25);
  margin-right: 1rem;
  overflow: hidden;
}

label.filter_set-circle.selected,
label.filter_set-circle:hover {
  background-color: #006fff;
}

label.filter_set-circle.selected {
  opacity: 0.5;
  cursor: default;  
}

label.filter_set-circle:last-child {
  margin-right: 0;
}
